* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', system-ui;
}
body {
  background-color: black;
}

.div-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
width: 230px;
height: 110px;
margin: 50px;
}

.board {
  width: 50%;
  height: 410px;
  border-bottom: 15px solid rgb(22, 114, 22);
  margin: 10px auto;
  position: relative;
  background: linear-gradient(#87ceeb, #e0f6ff);
  overflow: hidden;
}

p {
    margin-top: 10px;
    margin-left: 5px;
}

h1 {
color: red;
font-size: 22px;
text-transform: uppercase;
display: flex;
justify-content: center;
align-items: center;
margin-top: 250px;
}

.button {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.start, .restart {
  width: 200px;
  padding: 12px 0;
  cursor: pointer;
  border: none;
  background-color: green;
  font-size: 22px;
  border-radius: 30px;
  color: white;
  transition: 800ms;
  margin-left: 20px;
}

.start:hover {
  opacity: 0.8;
  }

.restart:hover {
opacity: 0.8;
}

.start:active {
  opacity: 0.5;
  }

.restart:active {
opacity: 0.5;
}

.clouds {
  position: absolute;
  width: 150px;
  top: 50px;
  animation: clouds 10s infinite linear;
}

.mario {
  position: absolute;
  bottom: 0;
  width: 120px;
}

.jump {
    animation: mario 0.5s  ease-in-out;
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe 1.6s infinite linear;
}

/* ANIMATION */

@keyframes clouds {
  from {
    right: -150px;
  }
  to {
    right: 100%;
  }
}

  @keyframes pipe {
    from {
      right: -80px;
    }
    to {
      right: 100%;
    }
}

@keyframes mario {
   0% {
    bottom: 0;
   }

   40% {
    bottom: 120px;
   }

 50% {
    bottom: 120px;
   }

   60% {
    bottom: 120px;
   }

   100% {
    bottom: 0;
   }
}   

@media (max-width: 800px) {

body {
display: flex;
flex-direction: column;
width: 95%;
height: 450px;
}


.start, .restart {
    width: 40%;
    padding: 8px 0;
    font-size: 14px;
}

.logo {
    width: 160px;
    height: 80px;
    }
}

